<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MyFlightScopeUsername" value=""/>
    <add key="MyFlightScopePassword" value=""/>
    <add key="MyFlightScopePlayerId" value=""/>
    <add key="MyFlightScopeBagNamingPattern" value="(?&lt;BRAND&gt;.+) - (?&lt;TYPE&gt;.+) \[(?&lt;MODEL&gt;.+)\]"/>
  </appSettings>
</configuration>